*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100px;
    height: 90px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
    background-color: black;
    box-shadow: 0 0  10px black;
    z-index: 1000;
}
.name{
    font-size:30px;
    color: orange;
    font-family: mv boli;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul{
    font-family: mv boli;
    list-style:none;
}
ul li{
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 5px;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    transition-timing-function: linear;
    
}
ul li a:hover{
    color: orange;
}
.icon i{
    font-size: 40px;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s;
}
.icon i:hover{
    color: orange;
}

.order h1{
    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    font-family: sans-serif;
}
.order h1 span{
    color: orange;
    font-family: mv boli;
    padding: 10px;
}
.now{
   margin: 90px;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  0 10px;
}
form p{
    line-height: 25px;
}
form .enter{
    margin: 5px;
}
form input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid black;
    background: wheat;
    outline: none;
    border-radius: 3px;
}
form input:focus{
    border: 2px solid orange;
}
form .button{
    padding: 10px 0;
    background: black;
    color: whitesmoke;
    text-align: center;
    width: 40%;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s;
}
form .button:hover{
     transform: scale(1.1);
     background: orange;
}
