*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100px;
    height: 90px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
    background-color: black;
    box-shadow: 0 0  10px black;
    z-index: 1000;
}
.name{
    font-size:30px;
    color: orange;
    font-family: mv boli;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul{
    font-family: mv boli;
    list-style:none;
}
ul li{
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 5px;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    transition-timing-function: linear;
    
}
ul li a:hover{
    color: orange;
}
.icon i{
    font-size: 45px;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s;
}
.icon i:hover{
    color: orange;
}
.ogr{
    text-align: center;
    margin-top: 50px;
    font-family: mv boli;
}
span{
    color: orange;
    padding: 15px;
}
.head{
    width: 100%;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px
}
.main{
    width: 325px;
    height: 400px;
    padding-top: 10px;
    margin-bottom:20px;
    margin-left: 80px;
    margin-top: 40px;
    box-shadow: 0 0 10px black;
}
img{
    width: 300px;
    height: 225px;
    margin-left: 12px;
    object-fit: cover;
    overflow: hidden;
    transition: 0.3s;
}
img:hover{
    transform: scale(0.9);
}
.menucard{
    margin: 10px;
}
.menucard h2{
    text-align: center;
    color: darkgoldenrod;
}
.menucard p{
    margin-left:10px;
    text-align: center;
    line-height: 20px;
}
.icons{
    color: darkgoldenrod;
    text-align: center;
    margin: 10px 0 20px 0;
}
.menu_button{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 8px 10px;
    margin: 0 80px;
    text-decoration: none;
    background-color: black;
    color: azure;
    transition: 0.2s;
}
.menu_button:hover{
    transform: scale(0.9);
    background-color: orange;
}
